// Your variables for font size,paddings,margins,colors.edit this for your needs.
// Use logic and define variables for optimal and smart usage.


//COLORS:

//MARGIN AND PADDINGS:

//FONT SIZE

$c-xsmall: 15px;
$c-small: 17px;
$c-medium: 20px;
$c-large: 23px;
$c-xlarge: 25px;

//BREAKPOINTS

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 769px;
$bp-large: 999px;
$bp-xlarge: 1199px;
